body, html{

    margin: 0px;
    display: table;
    height: 100%;
    width: 100%;
    font-family: "Times New Roman", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.wrapper{

    padding: 20px;
    height: auto;
}

footer{

    display: table-row;
    height: 5px;

}

.tigo{

    background:#115992; 
    width:30%;

}

