.bsolid {
    
    border-style: solid;
    color:black;
    border-radius: 2px;

}

.shadow{

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;


}

.ancho{

    padding: 50px;


}

.tamañoinput{

    width: 30px;


}

.botonesVentana{

    height: 36;


}


.col-6{

    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;

}

.navbar-brand2 {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }

  .form-control2{

  display: flexbox;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
  }

  .nav-pills1 .nav-link {
    border-radius: 0.25rem;
  }
  
  .nav-pills1 .nav-link.active,
  .nav-pills1 .show > .nav-link {
    color: #fff;
    background-color: #fff;
  }